@layout LoginLayout
@page "/l"
@inject NavigationManager NavigationManager

<div class="container">
    <div class="main">
        <!-- Add space for the logo here -->
        <div class="logo-container">
            <!-- Insert your logo image tag or component here -->
            <img src="/images/logo.png" alt="Logo">
        </div>

        <h3>Login</h3>

        <div>
            <label for="email">Email:</label>
            <input id="email" @bind="email" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" @bind="password" />
        </div>

        <button @onclick="HandleLogin">Login</button>

        <div class="or-divider">
            <span class="or-text">or</span>
        </div>

        <button @onclick="HandleCreate" style="margin-top: 5px;">Signup</button>
    </div>
</div>

@code {
    private string  email;
    private string password;

    private void HandleLogin()
    {
       ILeilumLN ef = new LeilumLNFacade();
        if (ef.existsEmail(email)) // utilizador existe?
        {
            Utilizador user = ef.getUtilizadorWithEmail(email);
            if (user.getPassword().Equals(password)) // a palavra passe é correcta?
            {
                //CurrentUser.setCurrentUser(user); // serve para as outras páginas saberem quem é que está na sessão

            }
            else
            {
                //popupRef.Show("A palavra passe é incorrecta.", "Password inválida", "35%", "35%");
            }
        }
        else
        {
            //....
        }
    }

    private void HandleCreate()
    {
        ILeilumLN ef = new LeilumLNFacade();
        if(!ef.existsEmail(email)){
            Utilizador user = new Utilizador(email,password,0);
            ef.adicionaConta(user);
        }
    }
}

@code {
    // Import the CSS file
    private string cssFile = "Auth.razor.css";
}

