@page "/AccessDenied"

<PageTitle>Acess Denied</PageTitle>

<div class="container">
    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px">
        <h3 style="color: #d4000d; text-align: center"><b>Acess Denied!</b></h3>
        <h4 style="text-align: center">You must be authenticated to access this page!</h4>
    </RadzenCard>
</div>